{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% block body %}
    <div class="row mb-2">
        <div class="col-12">
            <h3>Product List</h3>
            <div class="row mt-1 mb-2">
                <div class="col-sm-12 col-md-6">
                    {# Search Form #}
                    <form method="get" action="{{ path('app_product_index') }}">
                        <div class="input-group mb-3">
                            <input type="text" 
                                    name="search" 
                                    value="{{ search }}" 
                                    placeholder="Search..." 
                                    class="form-control" 
                                    aria-describedby="button-addon2">
                            <button type="submit" 
                                    class="btn btn-outline-primary" 
                                    id="button-addon2">
                                    Search
                            </button>
                            {% if search %}
                                &nbsp;&nbsp;<a href="{{ path('app_product_index') }}" 
                                class="btn btn-outline-secondary">
                                    Reset
                                </a>
                            {% endif %}
                        </div>
                    </form> 
                </div>
            </div>          
            {# Products Table #}
            <div class="table table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>
                                <a href="{{ path('app_product_index', {
                                'sort': 'name', 
                                'direction': sortField == 'name' ? (sortDirection == 'asc' ? 'desc' : 'asc') : 'asc',
                                'search': search
                                }) }}">
                                    Name&nbsp;{{ sortField == 'name' ? (sortDirection == 'asc' ? '↑' : '↓') : '' }}
                                </a>
                                {# {{ knp_pagination_sortable(pagination, 'Name', 'name') }} #}
                            </th>
                            <th>
                                <a href="{{ path('app_product_index', {'sort': 'price', 'direction': sortDirection == 'asc' ? 'desc' : 'asc'}) }}">
                                    Price&nbsp;{{ sortField == 'price' ? (sortDirection == 'asc' ? '↑' : '↓') : '' }}
                                </a>
                            </th>
                            <th>
                                <a href="{{ path('app_product_index', {'sort': 'stock_quantity', 'direction': sortDirection == 'asc' ? 'desc' : 'asc'}) }}">
                                    Stock Quantity&nbsp;{{ sortField == 'stock_quantity' ? (sortDirection == 'asc' ? '↑' : '↓') : '' }}
                                </a>
                            </th>
                            <th>Description</th>
                            <th>
                                <a href="{{ path('app_product_index', {'sort': 'created_at', 'direction': sortDirection == 'asc' ? 'desc' : 'asc'}) }}">
                                    Created At&nbsp;{{ sortField == 'created_at' ? (sortDirection == 'asc' ? '↑' : '↓') : '' }}
                                </a>
                            </th>
                            <th>Updated At</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for product in pagination %} 
                        <tr>
                            <td>{{ product.id }}</td>
                            <td>{{ product.name }}</td>
                            <td>{{ product.price|number_format(2, '.', ',') }}</td>
                            <td>{{ product.stockQuantity }}</td>
                            <td>{{ product.description }}</td>
                            <td>{{ product.createdAt ? product.createdAt|date('Y-m-d H:i:s', 'Asia/Singapore') : '' }}</td>
                            <td>{{ product.updatedAt ? product.updatedAt|date('Y-m-d H:i:s', 'Asia/Singapore') : '' }}</td>
                            <td>
                                <a href="{{ path('app_product_show', {'id': product.id}) }}" class="btn btn-outline-primary btn-xs">View</a>
                                <a href="{{ path('app_product_edit', {'id': product.id}) }}" class="btn btn-outline-warning btn-xs">Edit/Delete</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="8">No records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {# Pagination controls #}
                <div class="pagination">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>
    
    <div class="row mb-3">
        <div class="col-sm-4">
            <a href="{{ path('app_product_new') }}" class="btn btn-primary btn-md width-80-percent mb-1">Create new</a>
        </div>
        <div class="col-sm-4">
            <a href="{{ path('app_product_export') }}" class="btn btn-success btn-md width-80-percent mb-1">Export CSV</a>
        </div>
         <div class="col-sm-4">
            <button type="button" class="btn btn-info btn-md width-80-percent" data-bs-toggle="modal" data-bs-target="#importModal">
                Import CSV
            </button>
        </div>
    </div>
{% endblock %}
